$banner-font-color: white;
$main-font-color:#787878;
$muted-font-color:#b5b5b5;
$main-color:#8fcddc;

@mixin fontStyle($fontSize:16px, $fontColor:black) {

    font-size: $fontSize;
    color: $fontColor;
}

@mixin flexMix($hor:center) {
    display: flex;
    justify-content: $hor;
    align-items: center;
    flex-direction: row;
    
}

body{
    margin: 0;
}

.header{
    width: 100%;
    height: 57px;
    background:rgba($main-color, 0.3);
    padding: 0 128px;
    @include flexMix(space-between);
    box-sizing: border-box;
    position: absolute; // fixed прижата шапка постоянно
    left: 0;
    top: 0;


}
.menu{
    
    height: 100%;
    width: 57px;
    background: rgba($banner-font-color, .5);    
    @include flexMix;

    .line{ 
        width: 37px;
        height: 6px;
        background: $banner-font-color;
        position: relative;

        &::after{
            content: '';
            width: 37px;
            height: 6px;
            position: absolute;
            left: 0;
            top: 11px;
            background: $banner-font-color;
        }
        &::before{
            content: '';
            width: 37px;
            height: 6px;
            position: absolute;
            left: 0;
            bottom: 11px;
            background: $banner-font-color;
        

        }
    }

}
.banner{
    width: 100%;
    height: 482px;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;


}